{% extends 'layout.html' %}
{% block title %}Вход{% endblock %}

{% block content %}
<h2 class="text-center mb-4">Вход</h2>

{% if error %}
<div class="alert alert-danger text-center" role="alert">
    {{ error }}
</div>
{% endif %}

<form method="post" class="col-md-6 mx-auto">
    <div class="mb-3">
        <label class="form-label">Логин</label>
        <input name="username" class="form-control" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Пароль</label>
        <input name="password" type="password" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-success w-100">Войти</button>
</form>
{% endblock %}
